[project]
name = "project-python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "aiosqlite>=0.22.1",
    "sqlalchemy>=2.0.45",
    "rich>=13.0.0",
]
